<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">


<title>{% if page.title %}{{ page.title }} | {% endif %}{{ settings['site_name'] }}</title>


<meta name="google-site-verification" content="{{ settings['google_verification'] }}">
<meta name="title" content="Welcome to Dummy Site">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ settings['meta_description'] }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{% if page.uri %}{{ page.uri }}{% endif %}">


<meta property="og:type" content="website">
<meta property="og:url" content="{% if page.uri %}{{ page.uri }}{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ settings['site_name'] }}">
<meta property="og:image" content="">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ settings['meta_description'] }}{% endif %}">

<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ settings['site_name'] }}">
<meta property="twitter:url" content="{% if page.uri %}{{ page.uri }}{% endif %}">
<meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ settings['meta_description'] }}{% endif %}">
<meta property="twitter:image" content="">


{% include 'includes/head/favicon' %}

{% include 'includes/head/style' %}
