{% set sub_navigation = cms.menu('sub_navigation') %}

<div class="page-subheader">

  <div class="d-flex align-items-center justify-content-between d-flex align-items-center justify-content-between px-sm-4 px-2 pb-3">

    <div class="d-xl-block d-none">
      <div class="menu d-flex">
        {% for item in sub_navigation.items %}
          <div class="px-2">
            <a href="{{ item.href }}">
              {{ item.label }}
            </a>
            <!-- {{ dump(item) }} -->
            {% for subItem in item.items %}
              <a href="{{ subItem.href }}">
                {{ subItem.label }}
              </a>
              {% for subSubItem in subItem.items %}
                <a href="{{ subSubItem.href }}">
                  {{ subSubItem.label }}
                </a>
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

</div>
