<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 2117 607" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>New Zealand talent</title>
    
    <g id="Page-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="Poppins-Bold, Poppins" font-size="199" font-weight="bold" letter-spacing="-0.489815" line-spacing="203">
        <text id="New-Zealand-talent," fill="#FFFFFF">
            <tspan x="-12" y="166">New Zealand talent,</tspan>
            <tspan x="-12" y="369">New Zealand owned.</tspan>
            <tspan x="-12" y="572">New level on its way!</tspan>
        </text>
    </g>
</svg>